@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

html, body {
    font-family: 'Ropa Sans', sans-serif !important;
}

.carousel-header, .carousel-footer {
    background-color: #eaeee7;
    color: #276696;
    margin: 0.8em 0;
    padding: 0.4em 2em;
}

.carousel-header h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

.carousel-footer .btn {
    background-color: #276696;
    color: white;
    font-size: 1.5rem;
    line-height: 1.2em;
    margin: 1.5em 0.15em;
    padding: 0.3em 1.2em;
}

.carousel-footer .btn:hover {
    color: white;
}

.carousel-footer .btn:focus {
    box-shadow: none;
}

.carousel-footer .btn:active {
    background-color: rgba(39, 102, 150, 0.5);
}

.carousel-footer .btn.prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-footer .btn.next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel {
    padding: 1em 2em;
}

.carousel .carousel-inner {
    display: flex;
}

.carousel .carousel-inner .carousel-slide {
    padding: 2em 1em 0.5em;
    margin: 2em 0;
    transition: transform 1s, box-shadow 0.5s, opacity 1s;
    position: relative;
    text-transform: capitalize;
    opacity: 0.5;
}

.carousel .carousel-inner .carousel-slide.active {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
    opacity: 1;
}
  
.carousel .carousel-inner .carousel-slide .img-number {
    position: absolute;
    color: white;
    font-size: 32px;
    left: 10%;
}


@media (min-width: 768px) {
    .carousel .carousel-inner .carousel-slide {
        left: 33%;
    }
}

@media (min-width: 992px) {
    .carousel .carousel-inner .carousel-slide {
        left: 40%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 767.99px) {
    .container-fluid {
        padding: 0 !important;
    }
    .carousel {
        padding: 0;
    }
    .carousel-header {
        margin: 0;
        padding: 2rem;
    }
    .carousel-header h1 {
        font-size: 2.5rem;
    }
    .carousel .carousel-inner .carousel-slide h4 {
        padding: 0 1em;
    }
    .carousel .carousel-inner .carousel-slide {
        padding: 2em 0;
    }
    .carousel .carousel-inner .carousel-slide.active {
        box-shadow: none;
    }
    .arrow-prev {
        position: absolute;
        transform: rotate(180deg);
        left: 1.5%;
        top: 30%;
        width: 1.8em;
        cursor: pointer;
    }
    .arrow-next {
        position: absolute;
        right: 1.5%;
        top: 30%;
        width: 1.8em;
        cursor: pointer;
    }
    .arrow-next:active, .arrow-prev:active {
        opacity: 0.5
    }
    .arrow-prev-bg, .arrow-next-bg {
        background: rgba(234,238,231,0.7);
        width: 14%;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        height: 24%;
        position: absolute;
        top: 24%;
    }

    .arrow-prev-bg:active:not(.disabled-arrow), .arrow-next-bg:active:not(.disabled-arrow) {
        opacity: 0.4;
    }

    .arrow-next-bg {
        border-radius: 0;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        right: 0;
    }
    .disabled-arrow img {
        cursor: no-drop;
        opacity: 0.5;
    }

}