@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

html, body {
    font-family: 'Ropa Sans', sans-serif !important;
}

.carousel-header, .carousel-footer {
    background-color: #eaeee7;
    color: #276696;
    margin: 0.8em 0;
    padding: 0.4em 2em;
}

.carousel-header h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

.carousel-footer .btn {
    background-color: #276696;
    color: white;
    font-size: 1.5rem;
    line-height: 1.2em;
    margin: 1.5em 0.15em;
    padding: 0.3em 1.2em;
}

.carousel-footer .btn:hover {
    color: white;
}

.carousel-footer .btn:focus {
    box-shadow: none;
}

.carousel-footer .btn:active {
    background-color: rgba(39, 102, 150, 0.5);
}

.carousel-footer .btn.prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-footer .btn.next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel {
    padding: 1em 2em;
}

.carousel .carousel-inner {
    display: flex;
}

.carousel .carousel-inner .carousel-slide {
    padding: 2em 1em 0.5em;
    margin: 2em 0;
    text-align: center;
    transition: transform 1s, box-shadow 0.5s;
    position: relative;
    text-transform: capitalize;
}

.carousel .carousel-inner .carousel-slide.active {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2)
  }
  
.carousel .carousel-inner .carousel-slide img {
    max-width: 225px;
    max-height: 125px;
}

@media (min-width: 768px) {
    .carousel .carousel-inner .carousel-slide {
        left: 33%;
    }
}

@media (min-width: 992px) {
    .carousel .carousel-inner .carousel-slide {
        left: 40%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.arrow-prev {
    position: absolute;
    transform: rotate(180deg);
    top: 36%;
    left: -0.5%;
    cursor: pointer;
}

.arrow-next {
    position: absolute;
    top: 36%;
    right: -0.5%;
    cursor: pointer;
}

.disabled-arrow {
    cursor: no-drop;
    opacity: 0.5;
}


@media (max-width: 767.99px) {
    .container-fluid {
        padding: 0 !important;
    }
    .carousel-header {
        margin: 0;
        padding: 2rem;
    }
    .carousel-header h1 {
        font-size: 2.5rem;
    }
    .carousel .carousel-inner .carousel-slide {
        padding: 0;
    }
    .carousel .carousel-inner .carousel-slide img {
        max-width: 100%;
        max-height: 100%;
    }
    .carousel .carousel-inner .carousel-slide h4 {
        text-align: left;
        padding: 0 1em;
    }
    .carousel .carousel-inner .carousel-slide.active {
        box-shadow: none;
    }
    .arrow-prev {
        left: 7.5%
    }
    .arrow-next {
        right: 7.5%
    }
}